.navBar {
  display: flex;
  height: 60px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4564; /* Color de fondo del Navbar */
  padding: 0 20px; /* Espaciado horizontal */
  z-index: 1000; /* Asegúrate de que el navbar esté por encima de otros elementos */
}

.navOpen {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #4a4564;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}

.navList {
  display: flex;
  flex-direction: column; /* Asegúrate de que la lista se apile verticalmente */
  align-items: center; /* Centra los elementos de la lista */
  margin-top: 20px; /* Espacio superior para la lista */
}

.navLink {
  display: flex;
  font-size: 1.5em; /* Tamaño del texto */
  font-weight: 400;
  color: #f1f1f1;
  padding: 10px 0; /* Espacio entre los enlaces */
}

.navLink:hover {
  cursor: pointer;
  color: #00ffcc; /* Color al pasar el mouse */
}

.logo {
  display: flex;
  align-items: center; /* Alinea el logo con el texto */
}

.logoImage {
  width: 50px; /* Tamaño del logo */
  height: 50px; /* Mantiene la proporción del logo */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.menuIcon {
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}
